header.intro-header(style="background-image: url('" + header_image + "')")
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                .post-heading
                    h1 #{title}
                    h2.subheading #{subtitle}
                    span.meta #{created_at}


