header.intro-header(style="background-image: url('" + header_image + "')")
    .container
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                .site-heading
                    h1 #{title}
                    hr.small
                    span.subheading #{subtitle}

nav.navbar.navbar-default.navbar-custom.navbar-fixed-top
    .container-fluid
        // Brand and toggle get grouped for better mobile display
        .navbar-header.page-scroll
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                span.sr-only Toggle navigation
                |                     Menu
                i.fa.fa-bars
            a.navbar-brand(href='index.html') Start Bootstrap
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
            ul.nav.navbar-nav.navbar-right
                li
                    a(href='index.html') Home
                li
                    a(href='about.html') About
                li
                    a(href='post.html') Sample Post
                li
                    a(href='contact.html') Contact

