// jQuery
script(src='/vendor/jquery/jquery.min.js')
// Bootstrap Core JavaScript
script(src='/vendor/bootstrap/js/bootstrap.min.js')
// Contact Form JavaScript
script(src='/js/jqBootstrapValidation.js')
script(src='/js/contact_me.js')
// Theme JavaScript
script(src='/js/clean-blog.min.js')
