// jQuery
script(src='/vendor/jquery/jquery.min.js')
// Bootstrap Core JavaScript
script(src='/vendor/bootstrap/js/bootstrap.min.js')

// Theme JavaScript
script(src='/js/clean-blog.min.js')


block additional_scripts