doctype html
html(lang='en')
    head
        title 404
        // Bootstrap Core CSS
        link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
        // Theme CSS
        link(href='/css/clean-blog.min.css', rel='stylesheet')
        // Custom Fonts

    body

        header.intro-header(style="background-image: url('/img/404.jpg')")
            .container
                .row
                    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                        .post-heading
                            h1 404
                            h2.subheading Not Found
                            button.btn.btn-primary(onclick='window.history.back()') GO Back


