form(action='/users/register', method='Post')
    label Username :
        input(name = "username")
        br
    label Password :
        input(type='password', name = "password")
        br
    label Password Confirm :
        input(type='password', name = "confirm")
        br
    input(type="submit")