doctype html
html(lang='en')

    title Clean Blog
    // Bootstrap Core CSS
    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Theme CSS
    link(href='/css/clean-blog.min.css', rel='stylesheet')
    // Custom Fonts
    link(href='/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800', rel='stylesheet', type='text/css')


    script(src='/vendor/jquery/jquery.min.js')
    script(src='/vendor/bootstrap/js/bootstrap.min.js')
    script(src='/vendor/tinymce/jquery.tinymce.min.js')
    script(src='/vendor/tinymce/tinymce.min.js')
    script(src='/vendor/bootstrap-tagsinput/bootstrap-tagsinput.min.js')
    script.
        tinymce.init({
            selector: '#body',
            theme: 'modern',
            inline: true,
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor'
            ],
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | print preview media fullpage | forecolor backcolor emoticons',
            file_browser_callback: function (field_name, url, type, win) {
                if (type == 'image') $('#my_form input').click();
            }
        });

    link(href='/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    link(href='/vendor/bootstrap-tagsinput/bootstrap-tagsinput.css')

    body
        style
            | .blogPost p {
            |   margin-top: 5px; margin-bottom: 5px;
            |   font-size : 18px;
            | }
        iframe#form_target(name='form_target', style='display:none')
        form#my_form(action='/posts/imgupload', target='form_target', method='post', enctype='multipart/form-data', style='width:0px;height:0;overflow:hidden')
            input(name='image', type='file', onchange="$('#my_form').submit();this.value='';")
        .container
            ul.errors
                if errors
                    each error, i in errors
                        li.alert.alert-danger #{error}
            form(role='form', method='post', action='/posts/edit/'+slug, enctype='multipart/form-data' id='main_form')
                .row
                    .col-md-6.col-sm-12.col-lg-6
                        .form-group
                            label.control-label Blog Post Title
                            input.form-control(type='text', placeholder='Title', name='title', id='title' , value=title)
                    .col-md-6.col-sm-12.col-lg-6
                        .form-group
                            label.control-label(for='slug', id='slugLabel') Slug
                            input.form-control(type='text', placeholder='Slug', name='slug', id='slug', value=slug)
                .row
                    .col-md-6.col-sm-12.col-lg-6
                        .form-group
                            label.control-label(for='subtitle') Subtitle
                            input.form-control(type='text', placeholder='Subtitle', name='subtitle', id='subtitle', value = subtitle)
                    .col-md-6.col-sm-12.col-lg-6
                        .form-group
                            label.control-label(for='tags') Tags
                            input.form-control(type='text', name='tags', id='tags',data-role="tagsinput" value=tags)
                .row
                    .col-md-6.col-sm-12.col-lg-6
                        .form-group
                            label.control-label(for='bgImage') Background Image (Image is not required. You can use previous one or override it.)
                            input.form-control(type='file', name='bg-image', id='bgImage' )
                    .col-md-6.col-sm-12.col-lg-6
                        .form-group
                            label.control-label(for='publish') Publish
                                input.form-control(type='checkbox', name='publish', id='publish' )

                .container
                    h1 Edit here
                    .row.blogPost(id='body')
                        != post_body

                button.btn(type='submit' style='margin-top:50px; margin-bottom: 10px') Save
        script(src='/js/editBlogPost.js')

    include ../partials/scripts